
<div class= "container">
		<div class = "col-md-12">
			<center>
				<h1 class = "birthday">GO SHAWTY,</h1>
				<h1 class ="extra_large"> IT'S YOUR BIRTHDAY.</h1>
				<h2 class ="gbl">HOPE ITS A DOPE YEAR.</h2>
			</center>
		</div>
	</div>
</div>