<div class= "container">
		<div class = "col-md-12">
			<center>
				<h1 class = "birthday">GO SHAWTY,</h1>
				<h1 class ="extra_large"> IT'S SHERBERT DAY.</h1>
				<h2 class ="gbl">CELEBRATE THE MOMENTS OF YOUR LIFE ANYWAYS.</h2>
			</center>
		</div>
	</div>
</div>