<div class = "container">
	<form action="/results" method="POST">

	<div class = "row">
		<div class = "col-md-12">
			<center>
				<h1 class = "extra_large">IS TODAY YOUR BIRTHDAY?</h1>
				<h2 class ="gbl"> Its easy to lose track. </h2>
				<h2 class ="gbl">THIS WILL HELP YOU.  ENTER YOUR BIRTHDATE.</h2>
			</center>
		</div>
	</div>

	<div class = "row">
		<center>
		<div class = "col-md-12">
 			<label for="birthdate">Month:</dropdown>
			  <select id="birthdate" name="month">
			    <option value="01" class = "dropdown">January</option>
			    <option value="02" class = "dropdown">February</option>
			    <option value="03" class = "dropdown">March</option>
			    <option value="04" class = "dropdown">April</option>
			    <option value="05" class = "dropdown">May</option>
			    <option value="06" class = "dropdown">June</option>
			    <option value="07" class = "dropdown">July</option>
			    <option value="08" class = "dropdown">August</option>
			    <option value="09" class = "dropdown">September</option>
			    <option value="10" class = "dropdown">October</option>
			    <option value="11" class = "dropdown">November</option>
			    <option value="12" class = "dropdown">December</option>
			  </select>

			  <label for="birthdate">Date:</dropdown>
			  <select id="birthdate" name="day">
			    <option value="01" class = "dropdown">1</option>
			    <option value="02" class = "dropdown">2</option>
			    <option value="03" class = "dropdown">3</option>
			    <option value="04" class = "dropdown">4</option>
			    <option value="05" class = "dropdown">5</option>
			    <option value="06" class = "dropdown">6</option>
			    <option value="07" class = "dropdown">7</option>
			    <option value="08" class = "dropdown">8</option>
			    <option value="09" class = "dropdown">9</option>
			    <option value="10" class = "dropdown">10</option>
			    <option value="11" class = "dropdown">11</option>
			    <option value="12" class = "dropdown">12</option>
			    <option value="13" class = "dropdown">13</option>
			    <option value="14" class = "dropdown">14</option>
			    <option value="15" class = "dropdown">15</option>
			    <option value="16" class = "dropdown">16</option>
			    <option value="17" class = "dropdown">17</option>
			    <option value="18" class = "dropdown">18</option>
			    <option value="19" class = "dropdown">19</option>
			    <option value="20" class = "dropdown">20</option>
			    <option value="21" class = "dropdown">21</option>
			    <option value="22" class = "dropdown">22</option>
			    <option value="23" class = "dropdown">23</option>
			    <option value="24" class = "dropdown">24</option>
			    <option value="25" class = "dropdown">25</option>
			    <option value="26" class = "dropdown">26</option>
			    <option value="27" class = "dropdown">27</option>
			    <option value="28" class = "dropdown">28</option>
			    <option value="29" class = "dropdown">29</option>
			    <option value="30" class = "dropdown">30</option>
			    <option value="31" class = "dropdown">31</option>
			  </select>
			</span>
		</center>
		</div>
		</div>

	<div class = "row">
		<div class = "col-12-md">
			<center>	
				 <button class = "space" type="submit" value="next">FIND OUT NOW.</button>
			</center>
		</div>
	</div>


	


</div><!--this closes the container -->